.login_container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #4d7cf3;
    border-radius: 30px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="submit"] {
    background-color: white;
    color: #4d7cf3;
    border-radius: 30px;
    cursor: pointer;
    border:2px solid #4d7cf3;
  }
  h5 a{
    text-decoration: none;
  }